.home-container {
  padding: 20px;
  position: relative;
}

.logout-button {
  width: 10%;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: darkred;
}
