.home-container {
  position: relative;
  padding: 20px;
  /* text-align: center; */
  /* Anda mungkin ingin menggunakan padding yang berbeda untuk mobile */
}

.logout-button {
  width: auto; /* Gunakan auto atau unit yang lebih fleksibel */
  max-width: 200px; /* Batasi lebar maksimum untuk menjaga konsistensi */
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.logout-button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  .home-container {
    position: relative;
    padding-top: 50px;
    /* Anda mungkin ingin menggunakan padding yang berbeda untuk mobile */
  }

  .logout-button {
    width: 25%; /* Sesuaikan lebar untuk layar kecil */
    padding: 10px; /* Sesuaikan padding untuk layar kecil */
    top: 10px;
    right: 10px;
  }
}
