.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-reader {
  width: 50%;
}

#html5qr-code-full-region {
    background-color: #adb5bd;
    color: #282c34;
    font-size: 12pt;
}

@media (max-width: 640px) {
    #html5qr-code-full-region {
         width: 300px;
    }
}

@media (min-width: 640px) {
    #html5qr-code-full-region {
         width: 600px;
    }
}
